__pycache__/
*.log
*.sqlite3
db.sqlite3
*.pyc
*.pyo
*.pyd
warning.log
django.log
# Environment variables and secrets
.env
*.env

# Virtual environment directory
venv/
env/
*.env

# VS Code specific files
.vscode/